.footerbottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.paymentlogos {
  grid-area: 1 / 1 / 2 / 2;
}
.cardlogos {
  grid-area: 1 / 2 / 2 / 3;
}
