.banner {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .img {
    object-fit: cover;
  }

  video {
    object-fit: cover;
    outline: none;
  }

  :global(.slick-initialized) {
    overflow: hidden;
  }

  :global(.slick-dots) {
    bottom: 0;
  }
}

@media (--s) {
  .banner {
    .img {
      height: auto;
    }
    video {
      height: auto;
    }
  }
}
