.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .bars {
    flex-basis: 33.3%;
    justify-content: flex-start;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    flex-basis: 33.3%;
    li {
      margin-right: 10px;
    }
  }

  .logo {
    text-align: center;
    flex-basis: 33.3%;
    a {
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 5px;
    }
  }
}

@media (--m) {
  .navbar {
    position: relative;

    ul {
      justify-content: flex-start;
      li {
        margin-right: 40px;
        a {
          font-size: 1rem;
          font-weight: 500;
        }
        a:hover {
          color: var(--c-text-color-hover);
        }
      }

      li:hover {
        display: flex;
        ul {
          display: block;
          width: 100%;
          padding-top: 40px;
          margin-top: 20px;
          left: 0;
        }
      }

      &:first-child ul {
        position: absolute;
        display: none;
      }

      li ul li a {
        line-height: 1.7;
        font-size: 0.9rem;
      }
    }

    ul:last-child {
      justify-content: flex-end;
      li:last-child {
        margin-right: 0;
      }
    }

    .logo a {
      font-size: 1.5rem;
    }
  }
}
