.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 100%;
  z-index: var(--z-index-fourth);
  padding: 1rem;
  position: relative;

  .bars {
    flex-basis: 33.3%;
    justify-content: flex-start;
  }

  ul {
    display: flex;
    flex-basis: 33.3%;
    background-color: var(--c-primary);
    li {
      margin-right: 10px;
    }
    li:hover {
      display: flex;
      text-decoration: underline;
      ul {
        display: block;
        width: 100%;
        padding-top: 40px;
        margin-top: 20px;
        left: 0;
        padding-left: 15px;
        position: absolute;
        padding-bottom: 20px;
        li {
          margin-top: 10px;
        }
      }
    }

    &:first-child ul {
      position: absolute;
      display: none;
    }
  }

  ul:last-child {
    justify-content: flex-end;
    li:last-child {
      margin-right: 0;
    }
  }

  .logo {
    text-align: center;
    flex-basis: 33.3%;

    a {
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 5px;
      white-space: nowrap;
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 20px;
      img {
        height: 48px;
        position: absolute;
      }
    }
  }
}

@media (--m) {
  .navbar {
    ul {
      justify-content: flex-start;
      li {
        margin-right: 15px;
        a {
          font-size: 1rem;
          font-weight: 500;
        }
        a:hover {
          color: var(--c-text-color-hover);
        }
      }

      li:hover {
        display: flex;
        ul {
          display: block;
          width: 100%;
          margin-top: 20px;
          left: 0;
          padding-left: 15px;
        }
      }

      &:first-child ul {
        position: absolute;
        display: none;
      }

      li ul li a {
        line-height: 1.7;
        font-size: 0.9rem;
      }
    }

    ul:last-child {
      justify-content: flex-end;
      li:last-child {
        margin-right: 0;
      }
    }

    .logo a {
      font-size: 1.5rem;
    }
  }
}
