:root {
  --c-primary: #fff;
  --c-theme: #fff;
  --c-theme-10: rgba(29, 161, 242, 0.1);
  --c-theme-20: #efefef;
  --c-border-color: rgb(230, 236, 240);
  --c-gray: #6e767d;
  --c-dark-gray: #202327;
  --c-text-color: #000;
  --c-text-color-secondary: #fff;
  --c-text-color-hover: #979797;

  --fade: 120ms;

  --container: 1520px;

  --z-index-first: 9999;
  --z-index-second: 999;
  --z-index-third: 99;
  --z-index-fourth: 9;
  --z-index-negative: -1;
}
