.insta {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .bgImg {
    position: relative;
    height: 200px;
    width: 100%;
    min-width: 200px;
  }

  .img {
    object-fit: cover;
  }

  :global(.slick-initialized) {
    overflow: hidden;
  }

  :global(.slick-dots) {
    bottom: 0;
  }
}
