.insta {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    text-align: center;
    margin-bottom: 30px;
    h2 {
      font-size: 48px;
      font-weight: 900;
    }
    span {
      font-size: 24px;
    }
  }
  .instapic {
    display: flex;
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;

    .img {
      object-fit: cover;
      border-radius: 10px;
    }

    :global(.slick-initialized) {
      overflow: hidden;
    }

    :global(.slick-list) {
      margin-top: 20px;
      margin-bottom: 50px;
    }

    :global(.slick-dots) {
      bottom: 10px;
    }

    :global(.slick-prev) {
      left: 30px;
      z-index: var(--z-index-fourth);
    }

    :global(.slick-next) {
      right: 40px;
      z-index: var(--z-index-fourth);
    }

    :global(.slick-slide) {
      padding-left: 20px;
      padding-right: 20px;
    }

    :global(.slick-prev:before) {
      font-size: 36px;
    }

    :global(.slick-next:before) {
      font-size: 36px;
    }
  }
}

@media (--s) {
  .insta {
    margin-top: 50px;
    .title {
      margin-bottom: 10px;
      h2 {
        font-size: 30px;
      }
      span {
        font-size: 16px;
      }
    }

    .instapic {
      width: 100%;
    }
    :global(.slick-dots) {
      li {
        width: 10px;
      }
    }
  }
}
